.about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.about-title {
    margin-top: 4rem;
    align-self: center;
    margin-bottom: 1rem;
}