.projects-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
    padding: 0 1rem;
}

.projects-title {
    margin-top: 4rem;
    align-self: center;
    margin-bottom: 1rem;
}

.single-card-container:nth-child(even) {
    align-self: start;
}

.single-card-container:nth-child(odd) {
    align-self: end;
}